
@media screen and (max-width: 980px){
    /* header section starts here */
    .logo-area{
        width: 100%;
        float: none;
        text-align: center;
    }
    .login-area{
        float: none;
        width: 460px;
        margin: 10px auto;  
    }
    .login-area form{
        float: none;

    } 
    /* header section ends here   */

    /* sign up section starts here */
    .left-area{
        width: 100%;
        float: none;
        margin-bottom: 20px;
    }
    .left-area p{
        text-align: center;
    }
    .left-area img{
        width: 100%;
    }
    .right-area{
        width: 100%;
        float: none;
    }
    /* sign up section ends here */
}

@media screen and (max-width: 768px){
    .login-area .phone, .pass, .login{
        float: none;
    } 

    .login-area input[type="text"],
    .login-area input[type="password"]{
        width: 100%;
        box-sizing: ;
    }
    .login-area input[type="submit"]{
        margin-top: 10px;
    }
    
    .login-area .phone, .pass{
        margin-right: 0px;
        margin-bottom: 10px;
       
    }
    .login-area{
        width: 100%;
    }
}
@media screen and (max-width: 768px){
    .right-area h2{
        width: 100%;
        font-size: 33px;
    }
}


