*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;

}

/* header section starts here  */
header{
    background-color: #3B66A6;
    padding: 10px;
}
header::after{
    content: '';
    clear: both;
    display: table;
}
.container{
    width: 70%;
    margin:0 auto;
    max-width: 2000px;
    
}
.logo-area{
    width: 30%;
    float: left;
}
.logo-area img{
    width: 217px;
    height: 43px;
    margin-top: 20px;
    margin-bottom: 5px;
}
.login-area{
    width: 70%;
    float: left;
}
.login-area form{
    float: right;
}

.login-area label, input{
    display: block;
}
.login-area .phone, .pass, .login{
    float: left;
}

.login-area .phone, .pass {
    margin-right: 20px;
}
.login-area input[type="submit"]{
    margin-top: 24px;
    background-color: #4267b2;
    border: 1px solid #29487d;
    color: white;
    padding: 3px 8px;
    cursor: pointer;

}
.login-area input[type="text"],
.login-area input[type="password"]{
    padding: 2px 5px;
    border: 1px solid #000;
    font-size: 14px;
    font-weight: 300;
    margin-bottom: 1px;
    
}
.login-area label{
    color: white;
    margin-bottom: 3px;

}
.login-area .pass a{
    text-decoration: none;
    font-size: 12px;
    color: #9cb4d8;
}
.login-area .pass a:hover{
    text-decoration: underline;
}
/* header section ends here  */


/* sign up section starts here  */
.sign-up::after{
    content: '';
    clear: both;
    display: table;
}

.sign-up{
    padding: 30px 0px;
    background: linear-gradient(#fff, #d4d9e9);
}
.left-area{
    width: 60%;
    float: left;
}
.left-area p{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 20px;
}
.left-area img{
    width: 80%;
}
.right-area{
    width: 40%;
    float: left;
    
}
.right-area h2{
    color: #1d2129;
    font-size: 40px;
    font-weight: 400;
    margin: 0;
}
.right-area h4{
    color: #4b4f56;
    font-size: 22px;
    line-height: 28px;
    font-weight: normal;
    margin: 10px 0;
}
.right-area input[type="text"],
.right-area input[type="password"]{
    width: 100%;
    font-size: 18px;
    padding: 8px 10px;
    box-sizing: border-box;
    border-radius: 5px;
    border: 1px solid #bdc7d8;
    margin: 5px 0;
}
.full-name{
    overflow: hidden;
}
.first-name{
    width: 48%;
    float: left;
    margin-right: 4%;
}
.surname{
    width: 48%;
    float: left;
}
.birthday{
    overflow: hidden;
}
.birthday h4{
    color: #1d2129;
    font-weight: 600;
    margin-top: 25px;
}
.birth-date{
    overflow: hidden;
    margin-right: 10px;
    width: 220px;
}
.birth-date select{
    border: 1px solid #ccc;
    padding: 5px;
    float: left;
    font-size: 15px;   
}
.birth-link{
    width: 190px;
    margin-bottom: 20px;
    margin-top: 5px;
}
.birth-link a{
    font-size: 13px;
    display: block;
    line-height: 1.1;
    text-decoration: none;
    color: #365899;
}
.birth-link a:hover{
    text-decoration: underline;
}
.gender{
    overflow: hidden;
}
.gender input[type="radio"],
.gender label{
    float: left;
}
.gender label{
    font-size: 20px;
    font-weight: 400;
    color: #1d2129;
    margin-right: 30px;
}

.text-box{
    margin: 10px 0;
}
.text-box p{
    color: #777;
    font-size: 11px;
    width: 316px;
    margin-top: 5px;

}
.text-box a{
    color: #365899;
    text-decoration: none;
}
.text-box a:hover{
    text-decoration: underline;
}

.btn input[type="submit"]{
    background: linear-gradient(#67ae55, #578843);
    background-color: #69a74e;
    box-shadow: inset 0 1px 1px #a4e388;
    border: 1px solid #3b6e22;
    border-radius: 5px;
    min-width: 194px;
    padding: 7px 20px;
    text-align: center;
    font-size: 19px;
    line-height: 126%;
    font-weight: 600;
    color: white;
    margin: 20px 0px;
    transition: 0.4s;
}
.btn input[type="submit"]:hover{
    background: linear-gradient(#578843, #67ae55);
    cursor: pointer;
}

.business{
    font-weight: 600;
    color: #666;
}
.business a{
    text-decoration: none;
    color:#365899 ;
}
.business a:hover{
    text-decoration: underline;
}
/* sign up section ends here  */


/* footer part starts here */
.top{
    margin:20px 0;
}
.top ul li{
    list-style-type: none;
    display: inline;   
}
.top ul li a{
    text-decoration: none;
    margin-right: 8px;
    color:#385898;
    font-size: 13px;
    font-weight: 500;
}
.top ul li a:hover{
    text-decoration: underline;
}
.top ul li:last-child{
    margin-right: 0px;
}
.top ul li:last-child a{
    text-decoration: none;
    border: 1px solid black;
    padding: 0 3px;
    font-weight: bold;
}
.top ul li:first-child a{
    color: #737373;
}
.middle{
    margin-top: 10px;
    margin-bottom: 20px;
}
.middle ul li{
    list-style-type: none;
    display: inline;
}
.middle ul li a{
    text-decoration: none;
    margin-right: 12px;
    color:#385898;
    font-size: 13px;
    font-weight: 500;
}
.middle ul li a:hover{
    text-decoration: underline;
}
.container hr{
    border: none;
    border-bottom: 1px solid #d4d4d4;
}

.bottom span{
    color: #737373;
    font-size: 13px;
    font-weight: 500;
}
/* footer part ends here */